# How to handle data in python using Pandas. 
Pandas is like Excel, but does not suck.  Anything you need to do with data, you can do with pandas.  Im going to focus on the 20% of the things that do 80% of the work.

In [1]:
import pandas as pd
import numpy as np

# Before we go into coding, lets understand data files first...
* Who can tell me what a '.csv' file is?

In [2]:
! open .

[7449:0903/111627.385482:ERROR:sandbox_linux.cc(374)] InitializeSandbox() called with multiple threads in process gpu-process.
[main 2021-09-03T15:16:27.384Z] window: using vscode-file:// protocol and V8 cache options: bypassHeatCheck
[main 2021-09-03T15:16:27.458Z] update#setState idle

# Lets look at what type of data can live in a '.csv' file
* Continuous and Categorical

In [3]:
pd.read_csv??

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePathOrBuffer',
    sep=<no_default>,
    delimiter=None,
    header='infer',
    names=<no_default>,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=<no_default>,
    mangle_dupe_cols=True,
    dtype: 'DtypeArg | None' = None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal: 'str' = '.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors: 'str | None' = 'strict',
    dialect=None,
    error_bad_lines=None,
    warn_bad_lines=None,
    on_bad_lines=None,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    storage_options: 'StorageOptions' = None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
Source:
@deprecate_nonkeyword_arguments(
    version=None, allowed_args=["filepath_or_buffer"], stacklevel=3
)
@Appender(
    _doc_read_csv_and_table.format(
        func_name="read_csv",
        summary="Read a comma-separated values (csv) file into DataFrame.",
        _default_sep="','",
        storage_options=generic._shared_docs["storage_options"],
    )
)
def read_csv(
    filepath_or_buffer: FilePathOrBuffer,
    sep=lib.no_default,
    delimiter=None,
    # Column and Index Locations and Names
    header="infer",
    names=lib.no_default,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=lib.no_default,
    mangle_dupe_cols=True,
    # General Parsing Configuration
    dtype: DtypeArg | None = None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    # NA and Missing Data Handling
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    # Datetime Handling
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    # Iteration
    iterator=False,
    chunksize=None,
    # Quoting, Compression, and File Format
    compression="infer",
    thousands=None,
    decimal: str = ".",
    lineterminator=None,
    quotechar='"',
    quoting=csv.QUOTE_MINIMAL,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors: str | None = "strict",
    dialect=None,
    # Error Handling
    error_bad_lines=None,
    warn_bad_lines=None,

# Importing data
* If data is seperated by `;`, change to `sep=';'`
* Shift+Tab is your best friend

In [4]:
# read in the csv file and store it as a variable named 'df'
df = pd.read_csv('data/listings.csv', sep=',')

# display just the first 5 rows
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

# Let's find out how to see the 'shape' of our data...

In [5]:
df.shape

(46527, 16)

# Basic Syntax
* Select one column
* Select multiple columns
   * Must use a list

In [6]:
# SELECT ONE COLUMN
df['id']

0            2595
1            3831
2            5121
3            5136
4            5178
           ...
46522    44807522
46523    44807786
46524    44811717
46525    44814944
46526    44818009
Name: id, Length: 46527, dtype: int64

In [7]:
# SELECT MULTIPLE COLUMNS
cols_to_select = ['id', 'name']
df[ cols_to_select ]
# df[['id', 'name']]

             id                                               name
0          2595                              Skylit Midtown Castle
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...
2          5121                                    BlissArtsSpace!
3          5136           Spacious Brooklyn Duplex, Patio + Garden
4          5178                   Large Furnished Room Near B'way
...         ...                                                ...
46522  44807522         Designer Gramercy Studio Townhouse by UNSQ
46523  44807786  Cozy & comfy apt in the heart of Inwood Manhattan
46524  44811717  Comfortable safe environment 24hr security camera
46525  44814944                 Upper West Side studio 86th Street
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN

[46527 rows x 2 columns]

### Selecting rows.

In [8]:
# Select in index of rows 0 through 5
df.iloc[0:5]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [9]:
rows = [0,10,100]
df.iloc[rows]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197
100,29628,Sunny Room in New Condo,127608,Chris,Brooklyn,Clinton Hill,40.68414,-73.96351,Private room,89,3,281,2020-02-17,2.26,1,364

In [10]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

### Select row and column

In [11]:
df.at[ 0, 'name' ]

'Skylit Midtown Castle'

# Basic Math
Lets say we wanted to up the price 100x

In [12]:
df['new_price'] = df['price'] * 100
df.new_price = df['price'] * 100
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500

In [13]:
df['price'].sum()

df.price.sum()

6914176

In [14]:
df['price'].sum() == df.price.sum()

True

Let's find the minimum booking amout by multiplying price by minimum_nights
* note, you can also access columns by using a dot `.`

In [15]:
df['min_booking_amount'] = df.price * df.minimum_nights

# Selecting / Filtering data

In [16]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000,1740
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500,2450
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130

In [17]:
# Create our select condition.
select_condition = df['neighbourhood_group'] == 'Manhattan'

# # # Print the dataframe that meets our condition. 
# df_manhattan = df[ select_condition ]
select_condition

0         True
1        False
2        False
3        False
4         True
         ...
46522     True
46523     True
46524    False
46525     True
46526    False
Name: neighbourhood_group, Length: 46527, dtype: bool

In [18]:
# Making a new data frame of just Manhattan
select_condition = df['neighbourhood_group'] == 'Manhattan'

df_manhattan = df[ select_condition ]

df_manhattan.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,7500,150
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,14000,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,16000,480

In [19]:
# Select Brooklyn
condition_1 = df['neighbourhood_group'] == 'Brooklyn'

# Select Prices that are higher than 500
condition_2 = df['price'] > 500

# Select all data that meets both requirments
bk_high = df[condition_1 & condition_2]
bk_high

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
67,19601,perfect for a family or small group,74303,Maggie,Brooklyn,Brooklyn Heights,40.69723,-73.99268,Entire home/apt,2000,1,25,2016-08-04,0.21,1,134,200000,2000
125,38663,Luxury Brownstone in Boerum Hill,165789,Sarah,Brooklyn,Boerum Hill,40.68559,-73.98094,Entire home/apt,650,3,23,2018-12-31,0.23,1,365,65000,1950
288,89427,The Brooklyn Waverly,116599,Sahr,Brooklyn,Clinton Hill,40.68613,-73.96536,Entire home/apt,650,5,0,NaN,NaN,3,364,65000,3250
308,103311,2 BR w/ Terrace @ Box House Hotel,417504,The Box House Hotel,Brooklyn,Greenpoint,40.73778,-73.95366,Private room,599,3,9,2018-05-19,0.08,28,215,59900,1797
355,141335,Architect's Brownstone,687361,Orna,Brooklyn,Park Slope,40.67535,-73.97654,Entire home/apt,685,1,35,2018-01-13,0.35,1,365,68500,685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45747,44223269,Cozy furn. duplex in the heart of BK w W/D in ...,356290430,Peter,Brooklyn,Bedford-Stuyvesant,40.69390,-73.94496,Private room,1500,30,0,NaN,NaN,1,178,150000,45000
46104,44449983,New 14 Bed 6 Full Bath 4500 SF Triplex Apartment,262657892,Philip,Brooklyn,Crown Heights,40.66492,-73.92991,Entire home/apt,660,3,0,NaN,NaN,5,249,66000,1980
46148,44475802,Furnished Room in Williamsburg 3BR Apartment,306298527,Daniella,Brooklyn,Williamsburg,40.71188,-73.94042,Entire home/apt,900,1,0,NaN,NaN,1,365,90000,900
46216,44530152,1 bedroom apartment in Bushwick!,10932987,Suad,Brooklyn,Bedford-Stuyvesant,40.68685,-73.92113,Private room,1118,30,0,NaN,NaN,1,122,111800,33540
46337,44625524,Renovated Brownstone w/ Yard Near Prospect Park,2771914,Ian,Brooklyn,Windsor Terrace,40.65772,-73.97696,Entire home/apt,995,5,0,NaN,NaN,1,23,99500,4975

## Using 'or' statments
* What if we want to find all listings in Midtown or DUMBO
* The 'or' in python is the pipe thing `|`

In [20]:
condition_1 = df.neighbourhood == 'Midtown'

condition_2 = df.neighbourhood == 'DUMBO'

# Select all data that meets condition 1 or condition 2
df[ condition_1 | condition_2]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525
187,59855,One bedroom Apt. in NYC,288031,Leslie,Manhattan,Midtown,40.75890,-73.96991,Entire home/apt,250,30,82,2016-01-05,0.69,1,227,25000,7500
200,61509,"Quiet, clean midtown apt w. elevato",23619,Anna/Fonzy,Manhattan,Midtown,40.75749,-73.96897,Entire home/apt,110,200,92,2019-04-30,0.79,1,0,11000,22000
317,110739,Central Nomad/Chelsea Loft Studio - metro dnst...,568568,Driss,Manhattan,Midtown,40.74503,-73.98876,Entire home/apt,110,14,58,2019-11-12,0.54,1,288,11000,1540
496,225297,Quiet sunny studio Midtown,1173599,Gaya,Manhattan,Midtown,40.74267,-73.98569,Entire home/apt,95,5,5,2020-02-14,0.05,1,0,9500,475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46451,44691898,"Wyndham Midtown 45, 1 Bedroom Deluxe",71338355,Stephen,Manhattan,Midtown,40.75334,-73.97153,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46452,44692548,"Wyndham Midtown 45, 1 Bedroom Deluxe Accessible",71338355,Stephen,Manhattan,Midtown,40.75379,-73.97321,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46470,44730059,"Wyndham Midtown 45, Studio",71338355,Stephen,Manhattan,Midtown,40.75329,-73.97364,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46480,44743937,443 Studio,99067861,Eliza Sabet,Manhattan,Midtown,40.74743,-73.98855,Private room,66,1,0,NaN,NaN,44,361,6600,66
46495,44758487,Large Charming Studio in Midtown East Manhattan,113107378,Susan,Manhattan,Midtown,40.75655,-73.96501,Entire home/apt,80,29,0,NaN,NaN,1,166,8000,2320

# Why doesn't this work..?

In [21]:
# Why doesn't this work..?

condition_1 = df.neighbourhood == 'Midtown'

condition_2 = df.neighbourhood == 'DUMBO'

# Select all data that meets condition 1 or condition 2
df[ condition_1 & condition_2]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, new_price, min_booking_amount]
Index: []

## Using `.isin`. A very handy selector tool.

In [22]:
# List of neighborhoods we want to select
neighborhoods = ['Midtown', 'DUMBO', 'Queens']

# Create our select condition aka 'boolean mask'
condition = df.neighbourhood.isin(neighborhoods)

# Display the filtered data
df[condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525
187,59855,One bedroom Apt. in NYC,288031,Leslie,Manhattan,Midtown,40.75890,-73.96991,Entire home/apt,250,30,82,2016-01-05,0.69,1,227,25000,7500
200,61509,"Quiet, clean midtown apt w. elevato",23619,Anna/Fonzy,Manhattan,Midtown,40.75749,-73.96897,Entire home/apt,110,200,92,2019-04-30,0.79,1,0,11000,22000
317,110739,Central Nomad/Chelsea Loft Studio - metro dnst...,568568,Driss,Manhattan,Midtown,40.74503,-73.98876,Entire home/apt,110,14,58,2019-11-12,0.54,1,288,11000,1540
496,225297,Quiet sunny studio Midtown,1173599,Gaya,Manhattan,Midtown,40.74267,-73.98569,Entire home/apt,95,5,5,2020-02-14,0.05,1,0,9500,475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46451,44691898,"Wyndham Midtown 45, 1 Bedroom Deluxe",71338355,Stephen,Manhattan,Midtown,40.75334,-73.97153,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46452,44692548,"Wyndham Midtown 45, 1 Bedroom Deluxe Accessible",71338355,Stephen,Manhattan,Midtown,40.75379,-73.97321,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46470,44730059,"Wyndham Midtown 45, Studio",71338355,Stephen,Manhattan,Midtown,40.75329,-73.97364,Entire home/apt,629,2,0,NaN,NaN,3,89,62900,1258
46480,44743937,443 Studio,99067861,Eliza Sabet,Manhattan,Midtown,40.74743,-73.98855,Private room,66,1,0,NaN,NaN,44,361,6600,66
46495,44758487,Large Charming Studio in Midtown East Manhattan,113107378,Susan,Manhattan,Midtown,40.75655,-73.96501,Entire home/apt,80,29,0,NaN,NaN,1,166,8000,2320

In [23]:
# Here is a list of ids we want to select
list_of_host_ids = [19303369, 29871437, 63953718, 32084117]


# Make our select condition 
condition = df.host_id.isin(list_of_host_ids)

# Make the selection
df[condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
6630,6130145,Moma Casanova. New Additions!,29871437,Ester,Queens,Sunnyside,40.74315,-73.91733,Private room,78,3,130,2020-03-10,2.03,1,339,7800,234
9282,8627973,"2BR2BA apartment, PRIVATE bathroom & AC inside",19303369,Hiroki,Queens,Elmhurst,40.74073,-73.87591,Private room,40,29,2,2020-01-02,0.13,98,31,4000,1160
16705,16190902,Your point in Chelsea,32084117,Fernando,Manhattan,Chelsea,40.74183,-73.99997,Entire home/apt,120,2,162,2020-06-30,3.60,2,352,12000,240
17837,17385865,Cozy PRIVATE bathroom CLEAN New Construction,19303369,Hiroki,Queens,Elmhurst,40.73889,-73.87713,Private room,35,30,0,NaN,NaN,98,0,3500,1050
25031,24103912,⭐︎⭐︎PRIVATE Bathroom⭐︎⭐︎2min to subway+huge li...,19303369,Hiroki,Queens,Woodside,40.74267,-73.90354,Private room,44,31,1,2018-09-16,0.04,98,0,4400,1364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46030,44394849,"Awesome Access! to station, 2min/5 line u can ...",19303369,Hiroki,Queens,Woodside,40.74471,-73.89185,Private room,38,30,0,NaN,NaN,98,52,3800,1140
46080,44434505,★☆Sunnysid☆★ -Locals' favorite neighbor for li...,19303369,Hiroki,Queens,Sunnyside,40.73860,-73.92717,Private room,32,30,0,NaN,NaN,98,45,3200,960
46209,44520855,Sunnyside -Locals' favorite neighbor for living,19303369,Hiroki,Queens,Sunnyside,40.73813,-73.92714,Private room,28,30,0,NaN,NaN,98,45,2800,840
46252,44555814,Close to Manhattan! Comfortable area to stay♪,19303369,Hiroki,Queens,Sunnyside,40.73926,-73.92557,Private room,28,30,0,NaN,NaN,98,45,2800,840
46295,44580140,"Cozy room&house in Woodside, comfortable are!!",19303369,Hiroki,Queens,Woodside,40.74289,-73.89598,Private room,25,30,0,NaN,NaN,98,31,2500,750

In [24]:
list_of_hoods = ['Sunnyside', 'Woodside']

select_statement = df.neighbourhood.isin(list_of_hoods)

df[select_statement]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
60,18195,King of Queens w/ Private Bathroom,70091,Justin,Queens,Woodside,40.74590,-73.90764,Private room,90,7,22,2020-05-16,0.17,2,332,9000,630
61,18198,Little King of Queens,70091,Justin,Queens,Woodside,40.75038,-73.90334,Private room,75,14,27,2020-04-30,0.21,2,14,7500,1050
130,39593,A room of own w/ a Manhattan view,110506,Myung,Queens,Sunnyside,40.74559,-73.92313,Private room,73,30,29,2019-12-22,0.24,1,74,7300,2190
473,209310,Sunnyside NYC/ AC room/ city views/ near Midtown,1031148,Iulia,Queens,Sunnyside,40.73826,-73.92458,Private room,50,1,281,2020-03-16,2.74,2,102,5000,50
614,263776,City Skyline Views from every room!,1384111,Joanne,Queens,Sunnyside,40.74558,-73.92324,Private room,83,2,95,2019-01-02,0.89,2,0,8300,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46293,44579912,Antique style apartment/Comfortable area@Queens.,200239515,Shogo,Queens,Woodside,40.74280,-73.89646,Private room,28,20,0,NaN,NaN,37,31,2800,560
46294,44580012,It takes 30 minutes approximately for Manhattan.,334163301,Soya,Queens,Woodside,40.74141,-73.89582,Private room,25,28,0,NaN,NaN,83,31,2500,700
46295,44580140,"Cozy room&house in Woodside, comfortable are!!",19303369,Hiroki,Queens,Woodside,40.74289,-73.89598,Private room,25,30,0,NaN,NaN,98,31,2500,750
46341,44628752,Gorgeous zen huge 2 bedroom apartment in Sunny...,31913440,Courtney,Queens,Sunnyside,40.73934,-73.92531,Entire home/apt,90,3,0,NaN,NaN,3,63,9000,270
46426,44677711,Great location in Woodside Queens NY,26055080,Danny,Queens,Woodside,40.74541,-73.89826,Private room,49,2,0,NaN,NaN,4,363,4900,98

In [25]:
list_of_hoods = ['Sunnyside', 'Woodside']

select_statement = df.neighbourhood.isin(list_of_hoods)

df[~select_statement]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000,1740
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500,2450
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,14500,1015
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,8700,522
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,5900,177
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,8000,2400
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,6600,66

In [26]:
list_of_neighbourhoods = ['DUMBO', 'Midtown']

condition = df.neighbourhood.isin(list_of_neighbourhoods)

df[~condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000,1740
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500,2450
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,7500,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,14500,1015
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,8700,522
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,5900,177
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,8000,2400
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,6600,66

# Assigning values to filtered columns using `np.where()`
* np.where is a handy tool that takes in a condition statement, followed by what value to set when condition is true, and then what value to set when condition is false.  
* `np.where(condition, when_true, when_false)`

### We want a new column that whenever a listing is in Williamsburg, set it equal to 1, else, 0.

In [27]:
c1 = df['neighbourhood'] == 'Williamsburg'

df['is_in_williamsburg'] = np.where( c1, 1, 0)

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500,75,0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000,1740,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500,2450,0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130,0

In [28]:
# You can do it with multiple conditions as well...

# First select condition.
c1 = df['neighbourhood'] == 'Williamsburg'

# Second select condition.
c2 = df['room_type'] == 'Private room'

# Set equal to one when both conditions are true, and zero when not true.
df['private_room_in_williamsburg'] =  np.where( c1 & c2, 1, 0 )

# Sanity check to view if our assignment worked correctly.
select_statement = df['private_room_in_williamsburg'] == 1

df[  select_statement ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,8000,560,1,1
63,18764,Cozy 2 BR in Williamsburg,72014,Yvelisa,Brooklyn,Williamsburg,40.71154,-73.96112,Private room,145,3,63,2019-08-04,0.50,2,365,14500,435,1,1
69,20611,Cozy Bedroom in Williamsburg 3 BR,72014,Yvelisa,Brooklyn,Williamsburg,40.71156,-73.96218,Private room,85,3,193,2019-12-18,1.52,2,365,8500,255,1,1
80,24143,"Williamsburg—Steps To Subway, Private Bath&Bal...",97219,Seth,Brooklyn,Williamsburg,40.71332,-73.94177,Private room,112,3,352,2020-03-12,2.83,1,58,11200,336,1,1
127,39282,“Work-from-home” from OUR home.,168525,Gus,Brooklyn,Williamsburg,40.71088,-73.95055,Private room,50,4,219,2020-07-16,1.79,1,60,5000,200,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46248,44553435,Room in a 4 bedroom apartment in Williamsburg.,40130852,Catarina,Brooklyn,Williamsburg,40.70871,-73.94772,Private room,89,3,0,NaN,NaN,2,365,8900,267,1,1
46308,44595136,Huge 4BR duplex in North Wburg with Outdoor Sp...,30359189,Rachel,Brooklyn,Williamsburg,40.72076,-73.96163,Private room,100,30,0,NaN,NaN,1,89,10000,3000,1,1
46355,44633289,2020 Remodeled Brand New apartment in Williams...,334163301,Soya,Brooklyn,Williamsburg,40.70335,-73.94224,Private room,29,30,0,NaN,NaN,83,31,2900,870,1,1
46364,44640377,HUGE BEDROOM WITH PRIVATE BATHROOM IN WILLIAMS...,64191321,Gg,Brooklyn,Williamsburg,40.71307,-73.93765,Private room,55,3,0,NaN,NaN,2,324,5500,165,1,1
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,5500,770,1,1

# Applying a functions to a column

In [29]:
def half_number(input_number):
    output_number = input_number / 2
    return output_number

In [30]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,17500,525,0,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,7500,75,0,0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,6000,1740,0,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,17500,2450,0,0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,6500,130,0,0

In [31]:
def my_function(x):
    if 'Furnished' in str(x):
        return 1
    else:
        return 0

df['is_furnished'] = df['name'].apply( my_function )

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,48,2019-11-04,0.37,2,365,17500,525,0,0,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,340,2020-08-01,4.75,1,265,7500,75,0,0,0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,50,2019-12-02,0.37,1,365,6000,1740,0,0,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,1,2014-01-02,0.01,1,295,17500,2450,0,0,0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,473,2020-03-15,3.44,1,340,6500,130,0,0,1

In [32]:
def cut_price(x):
    return x / 2

# df['half_price'] = df['price'] * 0.5

df['cut_price'] = df.price.apply( cut_price )
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,2019-11-04,0.37,2,365,17500,525,0,0,0,87.5
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,2020-08-01,4.75,1,265,7500,75,0,0,0,37.5
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2019-12-02,0.37,1,365,6000,1740,0,0,0,30.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,2014-01-02,0.01,1,295,17500,2450,0,0,0,87.5
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,2020-03-15,3.44,1,340,6500,130,0,0,1,32.5

# Grouping

<img src='https://i.stack.imgur.com/sgCn1.jpg'>

In [33]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,2019-11-04,0.37,2,365,17500,525,0,0,0,87.5
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,2020-08-01,4.75,1,265,7500,75,0,0,0,37.5
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2019-12-02,0.37,1,365,6000,1740,0,0,0,30.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,2014-01-02,0.01,1,295,17500,2450,0,0,0,87.5
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,2020-03-15,3.44,1,340,6500,130,0,0,1,32.5

Doing a groupby does nothing unless you apply a function to a column of the groupby object.

In [50]:
df.groupby('neighbourhood_group')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,2019-11-04,0.37,2,365,17500,525,0,0,0,87.5
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,2020-08-01,4.75,1,265,7500,75,0,0,0,37.5
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2019-12-02,0.37,1,365,6000,1740,0,0,0,30.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,2014-01-02,0.01,1,295,17500,2450,0,0,0,87.5
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,2020-03-15,3.44,1,340,6500,130,0,0,1,32.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,...,NaN,NaN,1,164,14500,1015,0,0,0,72.5
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,...,NaN,NaN,2,85,8700,522,0,0,0,43.5
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,...,NaN,NaN,1,90,5900,177,0,0,0,29.5
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,...,NaN,NaN,1,113,8000,2400,0,0,0,40.0
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,...,NaN,NaN,1,38,6600,66,0,0,0,33.0

## After the groupby, select a column then select the function you want to perform on said column.

In [53]:
gb = df.groupby('neighbourhood_group')
gb['price'].max()

neighbourhood_group
Bronx             1404
Brooklyn         10000
Manhattan        10000
Queens           10000
Staten Island     1200
Name: price, dtype: int64

# You can use `.agg` to do multiple functions on said column.

In [36]:
gb = df.groupby('neighbourhood_group')
gb['price'].agg( ['count', 'min', 'max', 'mean', 'median', 'std', 'sum'] )

,count,min,max,mean,median,std,sum
neighbourhood_group,,,,,,,
Bronx,1183,16,1404,92.751479,69.0,95.787081,109725
Brooklyn,18632,0,10000,120.225258,90.0,180.136376,2240037
Manhattan,20580,0,10000,191.880466,129.0,428.682578,3948900
Queens,5791,0,10000,99.754965,70.0,207.648739,577681
Staten Island,341,19,1200,110.947214,79.0,122.676152,37833

# Double groupby

In [37]:
groupby_cols = ['neighbourhood_group', 'neighbourhood']
gb = df.groupby(groupby_cols)
gb['price'].mean()

neighbourhood_group  neighbourhood
Bronx                Allerton          92.813953
                     Baychester        81.750000
                     Belmont           62.333333
                     Bronxdale         62.666667
                     Castle Hill       71.666667
                                         ...
Staten Island        Tottenville      309.000000
                     West Brighton     89.263158
                     Westerleigh       92.500000
                     Willowbrook      309.000000
                     Woodrow          700.000000
Name: price, Length: 222, dtype: float64

# Making a DataFrame out of a groupby 
* This is somewhat nuanced, but something I find people struggle on and is very handy to know how to do.

In [38]:
# Do your group by
gb = df.groupby('neighbourhood_group')['price'].mean()
# # # Convert it to a DataFrame
new_df = pd.DataFrame(gb)

# # # Reset the index
new_df = new_df.reset_index()

# # # Check it out
new_df

  neighbourhood_group       price
0               Bronx   92.751479
1            Brooklyn  120.225258
2           Manhattan  191.880466
3              Queens   99.754965
4       Staten Island  110.947214

# Very helpful tools
* `df.describe()`
* `df.info`
* `df.shape`
* `df['column'].value_counts()`
* `df['column'].apply(function)`
* `df.dropna(subset=[columns])`

In [39]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
count,4.652700e+04,4.652700e+04,46527.000000,46527.000000,46527.00000,46527.000000,46527.000000,35816.000000,46527.000000,46527.000000,46527.000000,4.652700e+04,46527.000000,46527.000000,46527.000000,46527.000000
mean,2.299891e+07,8.439186e+07,40.729563,-73.950918,148.60567,8.519634,22.767167,0.905802,5.890451,121.142842,14860.566983,1.372545e+03,0.074924,0.038279,0.006104,74.302835
std,1.373123e+07,9.913260e+07,0.054974,0.047562,318.62788,23.050570,46.603900,1.280898,22.731346,142.517750,31862.788022,1.046096e+04,0.263272,0.191871,0.077890,159.313940
min,2.595000e+03,2.438000e+03,40.508680,-74.239860,0.00000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.062558e+07,9.194284e+06,40.689945,-73.983170,65.00000,2.000000,1.000000,0.120000,1.000000,0.000000,6500.000000,1.400000e+02,0.000000,0.000000,0.000000,32.500000
50%,2.220528e+07,3.719496e+07,40.724400,-73.955380,100.00000,3.000000,4.000000,0.380000,1.000000,46.000000,10000.000000,3.200000e+02,0.000000,0.000000,0.000000,50.000000
75%,3.575440e+07,1.362274e+08,40.763040,-73.934170,160.00000,6.000000,21.000000,1.210000,2.000000,252.000000,16000.000000,8.500000e+02,0.000000,0.000000,0.000000,80.000000
max,4.481801e+07,3.624537e+08,40.911690,-73.712990,10000.00000,1250.000000,746.000000,46.240000,249.000000,365.000000,1000000.000000,1.170000e+06,1.000000,1.000000,1.000000,5000.000000

In [40]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,2019-11-04,0.37,2,365,17500,525,0,0,0,87.5
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,2020-08-01,4.75,1,265,7500,75,0,0,0,37.5
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2019-12-02,0.37,1,365,6000,1740,0,0,0,30.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,2014-01-02,0.01,1,295,17500,2450,0,0,0,87.5
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,2020-03-15,3.44,1,340,6500,130,0,0,1,32.5

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46527 entries, 0 to 46526
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              46527 non-null  int64
 1   name                            46509 non-null  object
 2   host_id                         46527 non-null  int64
 3   host_name                       46492 non-null  object
 4   neighbourhood_group             46527 non-null  object
 5   neighbourhood                   46527 non-null  object
 6   latitude                        46527 non-null  float64
 7   longitude                       46527 non-null  float64
 8   room_type                       46527 non-null  object
 9   price                           46527 non-null  int64
 10  minimum_nights                  46527 non-null  int64
 11  number_of_reviews               46527 non-null  int64
 12  last_review                     35816 non-null  object
 13  reviews_per_month               35816 non-null  float64
 14  calculated_host_listings_count  46527 non-null  int64
 15  availability_365                46527 non-null  int64
 16  new_price                       46527 non-null  int64
 17  min_booking_amount              46527 non-null  int64
 18  is_in_williamsburg              46527 non-null  int64
 19  private_room_in_williamsburg    46527 non-null  int64
 20  is_furnished                    46527 non-null  int64
 21  cut_price                       46527 non-null  float64
dtypes: float64(4), int64(12), object(6)
memory usage: 7.8+ MB

# How to find percentages of the whole using `value_counts`

In [42]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,new_price,min_booking_amount,is_in_williamsburg,private_room_in_williamsburg,is_furnished,cut_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,...,2019-11-04,0.37,2,365,17500,525,0,0,0,87.5
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,...,2020-08-01,4.75,1,265,7500,75,0,0,0,37.5
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,...,2019-12-02,0.37,1,365,6000,1740,0,0,0,30.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,...,2014-01-02,0.01,1,295,17500,2450,0,0,0,87.5
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,...,2020-03-15,3.44,1,340,6500,130,0,0,1,32.5

In [43]:
df.neighbourhood_group.value_counts()
# df.groupby('neighbourhood_group')

Manhattan        20580
Brooklyn         18632
Queens            5791
Bronx             1183
Staten Island      341
Name: neighbourhood_group, dtype: int64

In [44]:
dfp = df.neighbourhood_group.value_counts() / df.neighbourhood_group.value_counts().sum()
dfp

Manhattan        0.442324
Brooklyn         0.400456
Queens           0.124465
Bronx            0.025426
Staten Island    0.007329
Name: neighbourhood_group, dtype: float64

# Joins

In [45]:
Image('https://i.stack.imgur.com/UI25E.jpg')

NameError: name 'Image' is not defined

In [ ]:
dfprices = pd.read_csv('data/prices.csv')
dfprices

In [ ]:
dflistings = pd.read_csv('data/n_listings.csv', sep=';')
dflistings

In [ ]:
# Merge defaults to an inner-join
new_df = pd.merge(dfprices, dflistings, on='neighbourhood_group')
new_df

In [ ]:
# Doing a left join keeps all values in the left table
dfjoined = pd.merge(dfprices, dflistings, on='neighbourhood_group', how='outer')
dfjoined

# Exporting data
* Almost always use `index=False` when saving your csv

In [ ]:
# This is the name of your new file
save_as = 'my-data-file.csv'

# This is the method you use, DONT FORGET INDEX=FALSE!
dfjoined.to_csv(save_as, index=False)

In [ ]:
# Another fun way to get your data out.
dfjoined.to_clipboard(index=False)

# Now open up the Exercise notebook and begin your journey into Pandas.